body {
    background: #222;
}

h1 {
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    font-size: 48px;
}

p {
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

button {
    margin: 100px auto;
    
    width: 275px;
    height: 45px;
    
    font-size: 15.5px;
    font-style: italic;
}
