body {
    background: linear-gradient(0deg, #a96db0 0%, #a671ad 25%, #171717 100%);
    cursor: url("../images/Flaxcursor.png"), auto;
}

h1 {
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    font-size: 48px;
}

backtext {
    color: #fff;
}

p {
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

button {
    margin: 100px auto;
    
    width: 275px;
    height: 45px;
    
    font-size: 15.5px;
    font-style: italic;
}

#clockBar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace;
    font-size: 16px;
    opacity: 0.9;
}

/* Snow */
.snowflake {
    position: fixed;
    top: -10px;
    color: white;
    font-size: 14px;
    pointer-events: none;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
        opacity: 0;
    }
}

/* Container styles | Lmao this sucks
.container {
  display: table-cell;
  vertical-align: bottom;
  width: 400px;
  height: 300px;
  background-color: #f0f0f0;
  padding: 10px;
}
